---
import "../styles/global.css";

type Props = {
  title: string;
  description?: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    {description ? <meta name="description" content={description} /> : null}
    <title>{title}</title>
  </head>
  <body class="min-h-screen bg-slate-950 text-slate-100 antialiased">
    <slot />
  </body>
</html>
